* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(174, 181, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}
.letter {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    visibility: hidden;/* visibility: hidden; */

}

.doton {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;

}